css:
  
  body {
    margin: 0;
  }

  #logo {
    font-family: 'Chewy', cursive;
    letter-spacing: 2px;
    font-size: 6em;
  }

  .wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
  }
div class="wrapper"
  h1 id="logo" The Radio Freqs
